.dictionary-navbar {
    background-color: rgba(10, 124, 86, 0.842);
    /* .menu-content {
            background-color: red !important;
            left: 57em;
            min-width: 10rem !important;
    } */
}